<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <a href="www.google.com">test</a> this is a test<br/>
    Custom code execution:
    <NJS>
        let stringBuilder = "";
        let start = new Date();
        let val = 10;
        for(let i = 0; i < 100000; i++) {
            val = val*10;
            val = val/10;
        }
        let end = new Date() - start;
        stringBuilder += "This took " + end + "ms!";
    
        stringBuilder += "onetwothree";
        console.log("test");
        stringBuilder += "<a href='test.html'>TEST</a>"
        return stringBuilder;
    </NJS>

    <br/>
    <NJS>
        console.log("See! another function!");
        return "<b>New HTML to return!</b>";
    </NJS>
    
</body>